<!-- 
  <div class="container">
  <ul class="favorite-filter-list list">
    <li class="filter-item">
      <button type="button" class="filter-btn btn">All categories</button>
    </li>
  </ul>
  <ul class="recipes-list"></ul>
</div> -->

<!-- <ul class="favorite-filter-list list">
  <li>
    <button type="button" class="filter-btn btn">All categories</button>
  </li>
  <li>
    <button type="button" class="filter-btn btn">Miscellaneous</button>
  </li>
  <li>
    <button type="button" class="filter-btn btn">Beef</button>
  </li>
  <li>
    <button type="button" class="filter-btn btn">Breakfast</button>
  </li>
  <li>
    <button type="button" class="filter-btn btn">Chicken</button>
  </li>
</ul> -->
