<header>
    <h1>Hi</h1>
    <a href="./">subscribe</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique natus a ex ab temporibus qui iusto, cumque possimus repudiandae, saepe deleniti cupiditate rerum quam eaque sequi quae. Commodi earum tenetur recusandae expedita maiores hic soluta voluptates, saepe numquam animi odit eligendi corporis molestiae, eos non aliquam modi dolore? Modi exercitationem facilis quo ipsa suscipit, quos deserunt ea. Exercitationem vitae error sunt pariatur qui repellat voluptate vel impedit suscipit laboriosam excepturi, molestiae nemo, cupiditate ullam natus odit eligendi unde quod quidem tempora, veritatis at quis culpa dolor? Quam natus porro possimus sapiente sint fuga amet perferendis praesentium, maiores voluptate est mollitia.</p>
</header>

