<header>
    <h1>Lorem, ipsum dolor.</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et autem eius nisi iure porro quia sequi maiores ullam pariatur, sit repudiandae voluptate quisquam consectetur blanditiis ut repellendus doloremque facere. Quidem, cupiditate totam, neque id officiis saepe, odio ipsum consequatur enim assumenda explicabo consectetur expedita. Debitis modi autem molestias repudiandae provident. Consequuntur nemo illo, similique pariatur praesentium inventore ducimus adipisci repellendus nam dignissimos est repellat maiores illum eligendi voluptatem fuga. Nobis voluptatibus doloribus distinctio alias magnam, eligendi non, obcaecati ea odio libero sequi in fugiat natus soluta aperiam dolore veritatis voluptates est. Asperiores libero quod, porro id unde in rerum eos.
    </p>
    <a href="">Lorem ipsum dolor sit amet.</a>
</header>

