<header>
  <div class="header-container">
    <nav class="header-nav">
      <a href="" class="header-link active">Home</a>
      <a href="./favorites.html" class="header-link">Favorites</a>
    </nav>
  </div>
  <!-- <div style="width: 100%; height: 100%; position: relative">
    <div
      style="
        width: 46px;
        height: 20px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #cecdcd;
        box-shadow: 7px 5px 15px rgba(160, 158, 160, 0.6);
        border-radius: 60px;
      "
    ></div>
    <div
      style="
        width: 18.8px;
        height: 18.8px;
        left: 0.6px;
        top: 0.6px;
        position: absolute;
        background: #f8f8f8;
        box-shadow: 4px 4px 15px rgba(243, 243, 243, 0.25);
        border-radius: 9999px;
      "
    ></div>
  </div> -->
</header>
