<div class="mk-container swiper">
  <div class="mk swiper-wrapper">
    <!-- <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div> -->
  </div>

    <!-- ДОДАЛА -->
  <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
    <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
    <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
    <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 3" aria-current="true"></span>
  </div>
    <!-- ДОДАЛА -->

  <!-- <div class="swiper-scrollbar"></div> -->
</div>

<!-- If we need pagination : -->
<!-- <div class="swiper-pagination"></div> -->

<!-- If we need navigation buttons -->
<!-- <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div> -->

<!-- If we need scrollbar -->
<!-- <div class="swiper-scrollbar"></div> -->



<!-- ТВІЙ СТАРИЙ ВАРІАНТ -->
  <!-- <div
    class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"
  ></div> -->