<section class="hero-section">
  <div class="hero-container">
    <h1 class="hero-title">
      Learn to Cook
      <span class="hero-title-text">Tasty Treats'</span>
      Customizable Masterclass
    </h1>
    <h3 class="hero-text">
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </h3>
    <div class="hero-btn-container">
      <button type="button" class="hero-btn-modal" data-modal-open-ordernow>
        Order now
      </button>
    </div>
  </div>
</section>
