<div class="backdrop-modal-order-now" id="backdropmodalordernow">
  <div class="modal-ordernow-container" id="modalordernow">
    <form class="ordernow-form" autocomplete="off" id="formordernow">
      <button
        class="modal-order-now-close-button"
        type="button"
        id="closeModalOrderNowBtn"
      >
        <svg class="modal-order-now-close-button-icon" width="20" height="20">
          <use href="/src/images/symbol-defs.svg#icon-close-modal-r"></use>
        </svg>
      </button>
      <h1 class="modal-tittle">Order Now</h1>
      <label class="modal-order-now-form-field label">
        <span class="modal-order-now-name modal-text">Name</span>
        <span class="modal-order-now-form-input-wrapper">
          <input
            class="input"
            type="text"
            name="name"
            id="name"
            placeholder="Your name"
            pattern="[A-Za-zА-Яа-яЁё\s]+"
            required
          />
        </span>
      </label>
      <label class="modal-order-now-phone label" for="phone">
        <span class="modal-text">Phone</span>
        <input
          class="input"
          type="tel"
          id="phone"
          name="phone"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
          placeholder="Your telephone"
          title="Please enter a valid phone number in the format xxx-xxx-xxxx"
          required
        />
      </label>
      <label class="modal-order-now-email label"
        ><span class="modal-text"> Email</span>
        <input
          class="input"
          type="email"
          name="email"
          autofocus
          placeholder="Your email"
          required
        />
      </label>
      <label class="modal-order-now-comment">
        <span class="modal-text">Comment</span>
        <textarea class="comment" name="message" rows="8"></textarea>
      </label>
      <div class="modal-btn-container">
        <button
          class="modal-order-now-btn"
          type="submit modal-text data-modal-open-ordernow"
          data-modal-open-ordernow
        >
          Send
        </button>
      </div>
    </form>
  </div>
</div>
