<button class = "data-modal-open-video-recipes" data-modal-open-reciepts>test open modal reciepts</button>
<div class="modal-video-recipes is-hidden" data-modal-reciepts>
    <div class="video-recipe" id="modal-video-recipes">
        <button class="modal-video-recipes-close-button" type="button" data-modal-close-reciepts>
                <svg class="modal-video-recipes-close-button-icon" width="24" height="24">
                    <use href="/src/images/icons-modal-reciepts.svg#icon-close-modal-r"></use>
                </svg>
        </button>
    </div>
</div>