.recipes-container{
  width: 335px;
  margin-left: auto;
  margin-right: auto;
}

.recipes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;  
}

.cards {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 335px;
  height: 335px;
  flex-shrink: 0;
  border-radius: 8px;
  /*margin-bottom: 24px;*/
}
.recipe-img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;

  height: 100%;
  width: 100%;
}
.images {
  display: flex;
  width: 335px;
  height: 335px;
  flex-shrink: 0;
  object-fit: cover;
}

.recipe-desc {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 63px 16px;
  border-bottom-left-radius: 4px;
  width: 100%;
  height: 100%;

  background: linear-gradient(
      1deg,
      rgba(5, 5, 5, 0.6) 0%,
      rgba(5, 5, 5, 0) 100%
    ),
    no-repeat;
}
.title-recipe {
  color: #f8f8f8;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.instr-recipe {
  overflow: hidden;
  color: #f8f8f8;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  height: 32px;
  max-width: 100%;
}
.rating_blackAllFoods::before {
  content: '★★★★★';
  display: block;
  color: var(--dark-text-color);
  font-size: 16px;
}
.rating_blackAllFoods {
  position: relative;
}
.rating__activeAllFoods {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #eea10c;
}
.rating__activeAllFoods::before {
  content: '★★★★★';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 16px;
}
.rating-panel {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 16px;
  width: 100%;
  height: 100%;
}
.raitingAllFoods{
  color: #F8F8F8;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; 
}
.see-recipe-btn {
  padding: 8px 16px;
  text-align: center;
  font-size: 12px;
  min-width: 61px;
  max-height: 31px;
  color: #f8f8f8;
  background-color: #9bb537;
  border: 1px solid #9bb537;
  border-radius: 15px;
  transition-property: color, background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
.see-recipe-btn:hover,
.see-recipe-btn:focus {
  color: #050505;
}
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.heart-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 22px;
  height: 22px;
  color: #f8f8f8;
  background-color: inherit;
  margin: 16px;
  border: none;
  padding: 0;
}

.heart-button-icon {
  fill: inherit;
}

.heart-button-icon:hover,
.heart-button-icon:focus {
  fill: currentColor;
}

.heart-button.active {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .recipes-container{
    width: 496px;
  }
  .cards {
    width: calc((100% - 16px) / 2);
    margin-bottom: 0;
    width: 240px;
    height: 264px;
  }
  .recipes-list {
    justify-content: flex-start;
    gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .recipes-container {
    width: 780px;
  }

  .cards {
    width: calc((100% - 32px) / 3);
    width: 248px;
    height: 288px;
  }
  .recipes-list {
    row-gap: 20px;
    column-gap: 16px;
  }
}
