.hero-img-of-favorites {
    background-image: url(../images/hero-mob-2x.png);
    /* background-color: lightgray; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    max-width: 335px;
    min-height: 516px;
}

.hero-section-of-favorites {
    padding-bottom: 40px;
}