/* css all-foods */
.recipes-list {
  display: block;
}

.cards {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 258px;
  height: 287px;
  flex-shrink: 0;
  border-radius: 8px;

  margin-bottom: 24px;
}

.recipe-img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.images {
  display: flex;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

.recipe-desc {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 63px 16px;
  border-bottom-left-radius: 4px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(1deg,
      rgba(5, 5, 5, 0.6) 0%,
      rgba(5, 5, 5, 0) 100%),
    no-repeat;
}

.title-favor {
  color: #f8f8f8;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  /* 128.571% */
  text-transform: uppercase;
  margin-bottom: 8px;
}

.instructions {
  overflow: hidden;
  color: #f8f8f8;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
  height: 32px;
  max-width: 100%;
}

.rating-btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 16px;
  width: 100%;
  height: 100%;
}

.recipe-btn {
  padding: 8px 16px;
  text-align: center;
  font-size: 12px;
  min-width: 61px;
  max-height: 31px;
  color: #f8f8f8;
  background-color: #9bb537;
  border: 1px solid #9bb537;
  border-radius: 15px;
  transition-property: color, background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.recipe-btn:hover,
.recipe-btn:focus {
  color: #050505;
}

@media screen and (min-width: 768px) {
  .cards {
    width: calc((100% - 32px) / 3);
    margin-bottom: 0;
  }

  .recipes-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .cards {
    width: calc((100% - 48px) / 4);
  }

  .recipes-list {
    row-gap: 32px;
    column-gap: 16px;
  }
}
