.modal-ordernow-container {
  padding: 0px 20px 28px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ordernow-form {
  display: flex;
  flex-direction: column;
  width: 335px;
  padding: 12px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  background: #fff;
}

.ordernow-form label {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: 14px 0 14px 18px;
  font: inherit;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

textarea {
  resize: none;
}

.ordernow-form {
  padding: 0 20px;
}

.input {
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  width: 295px;
}

input::placeholder {
  font-size: 14px;
  color: rgba(5, 5, 5, 0.3);
}

.modal-tittle {
  color: #050505;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
  text-transform: uppercase;
  padding-top: 28px;
}

.modal-order-now-form-field {
  padding-top: 28px;
}

.comment {
  width: 295px;
  height: 100px;
}

.modal-btn-container {
  padding-bottom: 28px;
  padding-top: 40px;
}

.modal-order-now-btn {
  display: flex;
  width: 295px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: #9bb537;
  color: #f8f8f8;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #9bb537;
  padding-top: 15px;
  padding-bottom: 15px;
}

.modal-text {
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 8px;
}

.label {
  padding-bottom: 16px;
}

.modal-order-now-close-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  position: absolute;
  top: 14px;
  right: 34px;
}

.modal-order-now-close-button-icon:hover {
  fill: #9bb537;
}

/* Стилі для таблета */
@media screen and (min-width: 768px) {
  .ordernow-form {
    width: 440px;
    height: 632px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .modal-order-now-close-button-icon {
    width: 24px;
    height: 24px;
  }
  .input {
    width: 360px;
  }
  .comment {
    width: 360px;
  }
  .modal-order-now-btn {
    width: 360px;
  }
  .label {
    padding-bottom: 18px;
  }
  .modal-order-now-close-button {
    top: 16px;
    right: 36px;
  }
}

/* Стилі для десктопа */
@media screen and (min-width: 1280px) {
  .modal-order-now-form-field {
    padding-top: 40px;
  }
}
