.container-popular {
  /* width: 326px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto; */
}
.title-popular-recipes {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.popular-recipes {
  gap: 16px;
  display: flex;
  flex-direction: column;
  width: 332px;
  height: 150px;
  overflow: hidden;
}
.pop-recipe-link{
 cursor: pointer;
}
.pop-recipe-card {
  display: flex;
  gap: 16px;
}

.img-pop-recipe {
  border-radius: 10px;
}
.text-pop-recipe {
  color: var(--dark-text-color);
}
.title-pop-recipe {
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description-pop-recipe {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 768px) {
  .container-popular {
    margin-top: 64px;
  }
  .title-popular-recipes {
    margin-bottom: 16px;
  }
  .popular-recipes {
    width: 176px;
    height: 316px;
    overflow: visible;
  }
  .pop-recipe-card {
    /* gap: 8px; */
  }
  .img-pop-recipe {
    width: 48px;
    height: 48px;
  }
  .text-pop-recipe {
    height: 100%;
    width: 120px;
  }
  .description-pop-recipe {
    font-size: 10px;
    line-height: 14px;
    height: 41px;
    -webkit-line-clamp: 3;
  }
}

@media screen and (min-width: 1280px) {
  .title-popular-recipes {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 28px;
  }
  .popular-recipes {
    gap: 32px;
    width: 235px;
    height: 364px;
  }
  .img-pop-recipe {
    width: 64px;
    height: 64px;
  }
  .text-pop-recipe {
    width: 155px;
  }
}
