/* .open-modal-rating-btn {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #9BB537;
    background-color: transparent;

    color: var(--dark-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
} */

.modal-rating {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-rating.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-rating-content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 335px;
    min-height: 216px;
    border-radius: 15px;
    background-color: var(--bgc-light-them); 
}

.close-rating-btn {
    position: absolute;
    right: 14px;
    top: 14px;
    cursor: pointer;
    background-color: var(--bgc-light-them);
    color: var(--dark-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rating-title {
    color: var(--dark-text-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;

    margin: 20px 0 4px 20px;
}

.value-of-rating {
    color: var(--dark-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    margin-left: 20px;
    margin-bottom: 24px;
}

.rating-input {
    min-width: 295px;
    height: 46px;
    padding: 14px 18px;
    margin: 0 20px;
    align-items: flex-start;
    border-radius: 15px;
    border: 1px solid rgba(5, 5, 5, 0.20);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rating-input:hover {
    border-color: var(--bgc-dark-them);
}

.rating-input:focus {
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-color: #1e251a;
}

.submit-rating-btn {
    display: flex;
    width: 295px;
    padding: 15px 162px;
    margin: 14px 20px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
    background: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--light-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.submit-rating-btn:hover,
.submit-rating-btn:focus {
    color: var(--dark-text-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}