:root {
--primary-text-CH-color: #050505;
    --primary-text-CH-color-08: rgba(5, 5, 5, .8);
    --primary-text-CH-color-05: rgba(5, 5, 5, .5);
    --primary-text-CH-color-03: rgba(5, 5, 5, .3);
    --primary-text-CH-color-02: rgba(5, 5, 5, .2);
    --primary-text-CH-color-01: rgba(5, 5, 5, .1);
    --primary-text-CH-color-RATING: #f8f8f8;
    --primary-text-CH-color-RATING-modal: rgba(5, 5, 5, .5);
    --primary-text-CH-color-STARS: rgba(248, 248, 248, .1);
    --primary-text-CH-color-CardTitle-Description: #f8f8f8;
    --primary-text-CH-color-menu-mob: #f8f8f8;
    --bgc-CH-background: #f8f8f8;
    --bgc-CH-background-mob-menu: #9bb537;
    --border-paginatio: #9bb537;

    --main-color: #9bb537;
    --primary-text-color: #050505;
    --primary-text-color-08: rgba(5, 5, 5, .8);
    --primary-text-color-05: rgba(5, 5, 5, .5);
    --primary-text-color-03: rgba(5, 5, 5, .3);
    --primary-text-color-02: rgba(5, 5, 5, .2);
    --dark-th-text-color-08: rgba(255, 255, 255, .8);
    --dark-th-text-color-05: rgba(255, 255, 255, .5);
    --dark-th-text-color-03: rgba(255, 255, 255, .3);
    --light-text-color: #f8f8f8;
    --switch-color: #cecdcd;
    --input-label-error: #e74a3b;
    --input-label-correct: #3cbc81;
    --bgc-background: #f8f8f8;
    --ident: 16px;
    --items: 3;
    --transition-set: 2s cubic-bezier(.4, 0, .2, 1);
}

.tui-pagination .tui-is-disabled {
    background-color: var(--primary-text-CH-color);
}
.tui-pagination .tui-is-disabled:hover, .tui-pagination .tui-is-disabled:focus{
    background-color: var(--primary-text-CH-color);
}
.pagination .pag__current-page {
    background-color: var(--border-paginatio);
}

.pagination {
    align-items: center;
    justify-content: center;
    margin: 40px auto 0;
    padding-bottom: 100px;
}
.tui-pagination .tui-first+.tui-prev {
    background-color: var(--primary-text-color);
    
}
strong {
    background-color: var(--bgc-CH-background-mob-menu);
}
.tui-pagination .tui-first+.tui-prev:hover,
.tui-pagination .tui-first+.tui-prev:focus
 {
background-color: var(--primary-text-CH-color);
color: var(--bgc-background);
}
.tui-page-btn-tui-is-disabled .tui-first {
    background-color: var(--primary-text-color);
}
.tui-page-btn .tui-next-is-ellip-tui-last-child {
    background-color: white;
}
.tui-pagination.tui-page-btn-is-select {
    background-color: var(--border-paginatio);
}
@media screen and (min-width: 768px) {
    .pagination {
        margin-top: 64px;
    }
}

.tui-pagination {
    line-height: normal;
    text-align: center;
    font-size: 0;
}

.tui-ico-ellip {
    background-color: var(--primary-text-CH-color);
}

.tui-pagination .tui-page-btn {
    background-color: var(--bgc-background);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    font-size: 18px;
    font-weight: 600;
    line-height: calc(22 / 18);
    position: relative;
    color: var(--primary-text-CH-color);
    border-radius: 50%;
    border: 1px solid var(--border-paginatio);
    margin-right: 4px;
}

.tui-pagination .tui-prev {
    margin-right: 14px;
}

.tui-pagination .tui-next {
    margin-right: 0;
    background-color: var(--bgc-CH-background-mob-menu);
}

.tui-pagination .tui-first-child.tui-is-selected,
.tui-pagination .tui-last-child.tui-is-selected {
background-color: var(--bgc-CH-background-mob-menu);
border: none;
}

.pagination .pag__current-page {
    background-color: var(--main-color);
    margin-right: 8px;
}

.tui-pagination .tui-last-child.tui-is-selected {
    margin: 0;
    background-color: var(--bgc-CH-background-mob-menu);
    margin-left: 0;
}

.pagination .pag__current-page:hover {
    background-color: var(--main-color);
}

.tui-first-child {
    margin-right: 8px;
}

.pagination .pag__page-btn {
    margin: 0 8px 0 0;
}

.tui-pagination .tui-page-btn:last-child {
background-color: var(--bgc-CH-background-mob-menu);
margin-right: 0;
margin-left: 8px;
}

.pagination .pag__btn-move {
    background: var(--main-color);
}

.tui-pagination .tui-page-btn:hover {
    background: var(--main-color);
}

.pagination .pag__btn-move:first-child {
    margin-right: 4px;
    background-color: var(--primary-text-color);
}

.pagination .pag__btn-disabled {
    background: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
}

.tui-pagination .tui-is-disabled {
    background: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
    .pagination {
        margin-top: 64px;
        max-width: 450px;
        max-height: 50px;
    }
    .pagination .pag__current-page {
        margin: 0 10px 0 0;
    }

    .pagination .pag__page-btn {
        margin: 0 10px 0 0;
    }

    .tui-pagination .tui-next {
        margin-left: 24px;
    }

    .tui-pagination .tui-prev {
        margin-right: 24px;
    }

    .pagination .pag__btn-move:first-child {
        margin-right: 8px;
    }

    .tui-pagination .tui-page-btn:last-child {
        margin-left: 8px;
    }
}