/* Hero in favorites title */
.hero-section-of-favorites {
    padding-bottom: 40px;
}

.hero-img-of-favorites {
    background-color: lightgray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    margin: 0 auto;
}

.block-favorit {
    /* display: none; */
}

.favorit-container {
    display: block;
}

@media screen and (max-width: 767px) {
    .hero-img-of-favorites {
        background-image: url(./images/hero-mob-2x.png);
        max-width: 335px;
        min-height: 516px;
    }
    .no-favorites-recipe {
        width: 335px;
    }
    .mobil-favorit-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80vh;
    }
    .block-img {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .hero-img-of-favorites {
        background-image: url(./images/hero-tablet-2x.png);
        min-width: 704px;
        min-height: 356px;
        padding-bottom: 64px;
    }
    .no-resipe-img {
        width: 97px;
        height: 83px;
    }
    .no-favorites-recipe {
        width: 480px;
        padding: 0;
    }
    .block-img {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .hero-img-of-favorites {
        background-image: url(./images/hero-desctop-2x.png);
        width: 1080px;
        height: 356px;
    }
    .no-resipe-img {
        width: 97px;
        height: 83px;
    }
    .no-favorites-recipe {
        width: 480px;
        padding: 0;
    }
    .block-img {
        display: block;
    }
}

.no-resipe-img {
    align-items: center;
    margin: 0 auto;
}

.no-favorites-recipe {
    text-align: center;
    color: var(--dark-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 32px auto 0;
}

